@media all and (max-width: 3000px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.2em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 0.8em; /* 1.2x default size */
        }
    }
@media all and (max-width: 600px) { /* screen size until 500px */
    body {
        font-size: 0.5em; /* 0.8x default size */
        }
    }
body {
  color: #5b6b74;
}
